.footer {
  position: absolute;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
  width: 100%;
  bottom: 0;
}

.footer > a {
  text-decoration: none;
  color: orange;
}
